@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/blue";

#root {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content {
  display: flex;
}

.page {
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  padding: 32px 20px 20px 40px;
  overflow-y: auto;
}

.block-margin {
  margin-bottom: 16px;
}

.big-margin {
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
