@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/alt";

html,
body {
  overscroll-behavior: none;
}

#root {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.app-redesigned {
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background-color: var(--bg-redesigned);
}

.content {
  display: flex;
}

.page {
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  padding: var(--margin-xl) 20px 20px 40px;
  overflow-y: auto;
}

.page-redesigned {
  overflow-y: visible;
}

.page-small {
  max-width: 800px;
  margin: 0 auto;
}

.block-margin {
  margin-bottom: var(--margin-m);
}

.big-margin {
  margin-bottom: var(--margin-xl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
