.articleDetails {
  min-height: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-xl);
}

.title {
  margin-bottom: var(--margin-m);
}

.info,
.infoLast {
  display: flex;
  align-items: center;
}

.infoLast {
  margin-bottom: var(--margin-xl);
}

.icon {
  margin-right: var(--margin-s);
  fill: var(--secondary-color);
}

.imageRedesigned {
  width: 100%;
  height: 420px;
  object-fit: cover;
  margin-bottom: var(--margin-m);
}
