.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-overlay);
  display: flex;
  align-items: flex-end;
}

.opened {
  z-index: var(--z-index-modal);
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  position: fixed;
  left: 2vw;
  z-index: var(--z-index-modal);
  width: 96vw;
  height: calc(100vh + 100px);
  padding: 15px;
  touch-action: none;
  background: var(--bg-color);
  border-radius: 12px 12px 0;
}
