.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.content {
  padding: var(--margin-l);
  background-color: var(--bg-color);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(-50px);
}

.overlay.open {
  animation: overlay-in 0.3s ease-in-out forwards;

  .content {
    animation: content-in 0.3s ease-in-out forwards;
  }
}

.overlay.close {
  animation: overlay-out 0.3s ease-in-out forwards;

  .content {
    animation: content-out 0.3s ease-in-out forwards;
  }
}

@keyframes overlay-in {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--overlay-color);
  }
}

@keyframes overlay-out {
  from {
    background-color: var(--overlay-color);
  }

  to {
    background-color: transparent;
  }
}

@keyframes content-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
