.img {
  object-fit: cover;
  border-radius: 50%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--inverted-secondary-color);
  text-transform: uppercase;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
