.header {
  display: flex;
  align-items: center;
}

.editBtn {
  margin-left: auto;
}

.cardRedesigned {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xl);
  width: 100%;
  min-width: 250px;
}
