.root {
  position: relative;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switches {
  position: absolute;
  bottom: var(--margin-l);
}

.collapsed .switches {
  flex-direction: column;
}
