.root {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
}

.root.editable {
  border-color: var(--inverted-primary-color);
}

.avatar {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
}

.listITem:not(:last-child) {
  margin-bottom: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.input:not(:last-of-type) {
  margin-bottom: 10px;
}
