.root {
  padding: var(--margin-l);
  border: 1px solid var(--inverted-bg-color);
}

.root.editable {
  border-color: var(--inverted-secondary-color);
}

.avatar {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.input:not(:last-of-type) {
  margin-bottom: 10px;
}

.listITem {
  width: 100%;
}
