.link {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon {
  display: flex;
  margin-right: 20px;
  fill: var(--inverted-primary-color);
}

.text {
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s, width 0.3s;
}

.collapsed .text {
  width: 0;
  opacity: 0;
}
