.link {
  color: var(--text-redesigned);
  transition: color 0.3s;

  &:hover:not(.noHover) {
    color: var(--accent-redesigned);
  }
}

.primary,
.secondary {
  color: var(--text-redesigned);
  transition: color 0.3s;

  &:hover:not(.noHover) {
    color: var(--accent-redesigned);
  }
}
