.list {
  display: flex;
  align-items: center;
}

.listItem {
  list-style: none;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.icon {
  fill: var(--secondary-color);
}

.active {
  fill: var(--inverted-secondary-color);
}
