#root.blue {
  --bg-color: #5e69ee;
  --inverted-bg-color: #f0f1f9;
  --primary-color: #f4f4fb;
  --secondary-color: #e0e0e6;
  --inverted-primary-color: #5e69ee;
  --inverted-secondary-color: #39afea;

  // skeleton
  --skeleton-color: #39afea;
  --skeleton-shadow: #00699bff;

  // code
  --code-bg: #6872ea;

  // card
  --card-bg: #6e78e9;
}
