.img {
  object-fit: cover;
  border-radius: 50%;
}

.empty {
  overflow: hidden;
  color: var(--text-redesigned);
  text-transform: uppercase;
  background-color: var(--light-bg-redesigned);
  border-radius: 50%;
}

.userIcon {
  fill: var(--hint-redesigned);
}
