.root {
  display: grid;
  grid-template-areas: "sidebar content rightbar";
  grid-auto-columns: min-content 1fr 108px;
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  max-width: 284px;
  padding: var(--margin-xl);
  padding-right: 0;
}

.content {
  grid-area: content;
  justify-self: center;
  width: 100%;
  max-width: 1440px;
  padding: var(--margin-xl);
}

.rightbar {
  display: flex;
  flex-direction: column;
  grid-area: rightbar;
  align-items: flex-end;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {
  justify-self: end;
}

.toolbar {
  height: 100%;
}
