.flex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.alignBaseline {
  align-items: baseline;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: var(--margin-s);
}

.gap16 {
  gap: var(--margin-m);
}

.gap24 {
  gap: var(--margin-l);
}

.gap32 {
  gap: var(--margin-xl);
}

.max {
  width: 100%;
}
