.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px var(--margin-m);
  color: var(--text-redesigned);
  cursor: pointer;
  transition: color 0.3s, fill-opacity 0.3s, stroke-opacity 0.3s;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    color: var(--accent-redesigned);
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }
}

.M {
  font: var(--font-m);
}

.L {
  font: var(--font-l);
}

.XL {
  font: var(--font-xl);
}

.full {
  width: 100%;
}

.square {
  padding: 0;
}

.square.M {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m-redesigned);
}

.square.L {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-m-redesigned);
}

.square.XL {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-l-redesigned);
}

.clear {
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent;
  }
}

.outline,
.rounded-outline {
  color: var(--text-redesigned);
  background-color: transparent;
  border: 1px solid var(--accent-redesigned);
}

.rounded-outline {
  border-radius: var(--margin-xl);
}

.outline.error,
.rounded-outline.error {
  border-color: var(--cancel-redesigned);
}

.outline.success,
.rounded-outline.success {
  border-color: var(--save-redesigned);
}
