.card {
  &.none {
    padding: 0;
  }

  &.sm {
    padding: var(--margin-s);
  }

  &.md {
    padding: var(--margin-m);
  }

  &.lg {
    padding: var(--margin-l);
  }
}

.borderNoRadius {
  border-radius: 0;
}

.borderRadiusSm {
  border-radius: var(--margin-s);
}

.borderRadiusMd {
  border-radius: var(--margin-m);
}

.borderRadiusLg {
  border-radius: var(--margin-l);
}

.borderRadiusXl {
  border-radius: var(--margin-xl);
}

.primary {
  background-color: var(--dark-bg-redesigned);
}

.secondary {
  background-color: var(--light-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}
