.root {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.editButton {
  margin-left: auto;
}

.input {
  margin-bottom: 10px;
}
