.link {
  color: var(--primary-color);
  transition: opacity 0.3s;

  &:hover:not(.noHover) {
    opacity: 0.7;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
