.commentCard {
  padding: var(--margin-l);
  border: 1px solid var(--primary-color);

  &:not(:last-child) {
    margin-bottom: var(--margin-l);
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
}
