.code {
  position: relative;
  width: 100%;
  padding: var(--margin-l);
  overflow: auto;
  background-color: var(--code-bg);
  border: 1px solid var(--inverted-secondary-color);
}

.button {
  position: absolute;
  top: var(--margin-l);
  right: var(--margin-l);
}

.icon path {
  stroke: var(--primary-color);
}
