.icon {
  fill: var(--secondary-color);
}

.active {
  fill: var(--inverted-secondary-color);
}

.nonActive {
  color: var(--hint-redesigned);
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  line-height: 0;
}
